@media (min-width: 400px){
	.menu {
		flex-direction: row;
	}

}

@media (min-width: 550px) {
	.articulo{
		flex-direction: row;
	}
	.articulo a {
		width: 50%;
	}
	.contenedor-texto {
		height: 10rem;
	}
}