@import "scss/variables";

.seccion {
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 1.5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
	border-radius: 3rem;

}
.seccion h2 {
	
	margin-bottom: 1rem;
}
.seccion-nosotros {
	background-color:#000;
	border-radius: 2rem;
	padding: 3rem;
	color:white;
}
.seccion-nosotros h1 {
	text-align: center;
	font-size: $tamañoh1;
	text-align: center;
}
.seccion-nosotros p {
	text-align: center;
	font-size: $tamañop;
}